@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dakar - Senegal<br />
    HLM Grand Yoff, GY Rue 292<br />
    <abbr title="Phone">Téléphone:</abbr>
    78.292.19.00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:iasvscode@outlook.fr">Pour plus d'informations veuillez me joindre par mail.</a><br />
    <strong>Marketing:</strong> <a href="mailto:kalsjunior17@gmail.com">Disponible aussi à l'adresse</a>
</address>